@{ 
    ViewBag.Title = "Authorization";
}
<div class="container">
    <div class="text-center">
        <a class="btn btn-sm btn-success" asp-controller="account" asp-action="signin">Sign In with Microsoft</a>
    </div>
</div>